@use "../base/variables" as v;
@use "../base/mixins" as m;

.contenido-menu {
    background-image: url(/src/scss/img/cafe.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 90%;
    aspect-ratio: 3 / 8;

    @include m.telefono { 
        aspect-ratio: 3 / 3;
    }

    @include m.tablet { 
        @include m.grid(2, v.$separacion);
        aspect-ratio: 16 / 6;
        background-size: 50%;
        background-position: center right;
    }
    .texto {
        p {
            font-size: 2rem;
            font-weight: 500;
            font-family: v.$fuenteCursiva;
        }
    }

}